.SimpleAppBar-root-1 {
    margin-bottom: 20px;
}

.locationList {
    padding: 10px;
    overflow: auto;
}

@media(max-width: 61.938em) {
    .locationList {
        max-height: 30vh;
    }
}

.forecast-title {
    color: rgb(139, 138, 138);
}